{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Log In{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="username">Username</label>
    <input name="username" id="username" placeholder="Lucia" required>
    <label for="password">Password</label>
    <input type="password" name="password" id="password" placeholder="12345678" required>
    <input type="submit" value="Log In">
  </form>
  <hr>
  <div>
    <img class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12" src="{{ url_for('static', filename='images/homepage.png') }}">
  </div>
{% endblock %}