{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Edit "{{ post['message'] }}"{% endblock %}</h1>
{% endblock %}

{% block content %}
  <form method="post">
    <label for="message">Message</label>
    <input name="message" id="message"
      value="{{ request.form['message'] or post['message'] }}" required>
    <!--label for="body">Body</label>
    <textarea name="body" id="body">{{ request.form['body'] or post['body'] }}</textarea-->
    <input type="submit" value="Send">
  </form>
  <hr>
  <form action="{{ url_for('classroom.delete', id=post['id']) }}" method="post">
    <input class="danger" type="submit" value="Delete" onclick="return confirm('Are you sure?');">
  </form>
{% endblock %}